@import 'nib'

body, html 
  width 100%
  height 100%
  padding 0px
  margin 0px
  font-family Arial

table 
  border-spacing 0px
  border-collapse collapse

/* 
 * Table cells are the grid cells of our landscape. Change the size here to
 * change the visual size of our map.
 */
td 
  border none
  padding 0px
  margin 0px
  height 3px
  width 3px

/* Colors for our defined landscape features. */
td.water 
  background #34D1B2
td.road 
  background #FFFFFF
td.sand 
  background #D4F870
td.trees 
  background #228D00
td.grass 
  background #34D800